<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>

	<appSettings>
		<!-- 外観設定 -->
		<add key="WindowWidth" value="500"/>
		<add key="WindowHeight" value="600"/>
		<add key="EditorWidth" value="500"/>
		<add key="EditorHeight" value="600"/>
		<add key="TextAreaFontSize" value="11"/>
		<add key="TextAreaFontName" value="MS Gothic"/>
		<add key="MainWindowPosition" value="right+10+180"/>
		<add key="EditorWindowPosition" value="right+10+180"/>
		<add key="ButtonWidth" value="100"/>
		<add key="ButtonHeight" value="30"/>

		<!-- ファイルパス設定 -->
		<add key="OperationFilePath" value="C:\Shinseikai\MediRecordConverter\mouseoperation.exe"/>
		<add key="SoapCopyFilePath" value="C:\Shinseikai\MediRecordConverter\soapcopy.exe"/>

		<!-- ファイル削除設定 -->
		<add key="FileCleanupIntervalMinutes" value="240"/>

		<!-- 匿名化設定 -->
		<add key="AnonymizationSymbol" value="●●"/>
		<add key="ReplacementListPath" value="replacement_list.txt"/>
	</appSettings>
</configuration>
