<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>

	<appSettings>
		<!-- 外観設定 -->
		<add key="WindowWidth" value="1100"/>
		<add key="WindowHeight" value="800"/>
		<add key="EditorWidth" value="800"/>
		<add key="EditorHeight" value="800"/>
		<add key="TextAreaFontSize" value="12"/>
		<add key="TextAreaFontName" value="MS Gothic"/>
		<add key="MainWindowPosition" value="+10+10"/>
		<add key="EditorWindowPosition" value="+10+10"/>
		<add key="ButtonWidth" value="12"/>
		<add key="ButtonHeight" value="2"/>

		<!-- ファイルパス設定 -->
		<add key="OperationFilePath" value="C:\Shinseikai\TXT2JSON\mouseoperation.exe"/>
		<add key="SoapCopyFilePath" value="C:\Shinseikai\TXT2JSON\soapcopy.exe"/>
	</appSettings>
</configuration>